CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake

build
docker_gcc_build
docker_clang_build

cmake-build-*

.*

compile_commands.json
*.sw?

__pycache__
*.pyc
*.bin


*.zip
2011_09_30
